body{
    background-color: white;
}
.head{
    background-color: #2d3e50;
}
.bio{
    background-color: #1bbc9b;
    color: white;
}
.portfolio{
    background-color: whitesmoke;
}
.about{
    background-color: #1bbc9b;
    color: white;
}
.contact{
    background-color: white;
}
.lastly{
    background-color: #2d3e50;

}